
/* @import url('https://fonts.cdnfonts.com/css/helvetica-neue-55'); */

html {
    margin: 0;
}
body {
    background-color: rgb(238,238,238);
    font-family: 'Satoshi', sans-serif;
    font-weight: 500;
    margin: 0;
}
h1 {
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 50px;
}
h1:hover {
    color: rgb(101, 246, 136);
    cursor: grab;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav a {
    text-decoration: none;
    color: black;
}

.nav-link {
    font-size:24px;
}
.dot {
    width: 17.5px;
    height: 17.5px;
    background-color: rgb(101, 246, 136);
    border-radius: 50%;
    margin-right: 5px;
    display: none;
}
.navbar li.active .dot {
    width: 17.5px;
    height: 17.5px;
    background-color: rgb(101, 246, 136);
    border-radius: 50%;
    margin-right: 5px;
}
/* .nav-link.active {
    width: 17.5px;
    height: 17.5px;
    background-color: rgb(101, 246, 136);
    border-radius: 50%;
    margin-right: 10px;
    display:list-item;
  } */
code {

    background-color: rgb(245, 245, 245);
    font-size: 20px;
    text-align: left;
    font-weight: 500;
}
pre {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(250, 250, 250);
}
.codeDescription {
    background-color: rgb(250, 250, 250);
    margin-top: 0;
    font-family: monospace;
    font-weight: 500;
    color: rgb(94, 194, 81);
    padding-top: 20px;
    font-size: 18px;
    margin-bottom: 0;
    padding-left: 35px;
}
.textEmphasis {
    background-color: rgb(250, 250, 250);
}
.variableCode {
    color: black;
    font-family: monospace;
    font-weight: 300;
    font-size: 25px;
}
.variableText {
    background-color: rgb(250, 250, 250);
    color: rgb(244, 139, 238);
    font-family: monospace;
    font-weight: 300;
    font-size: 25px;
    padding: 2px;
}
.moreDetail {
    cursor: grab;
    background-color: rgb(171, 255, 183);
}
#domImage {
    max-width: 100%;
    height: auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}
#whileImage {
    max-width: 100%;
    height: auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}  
.whileDescription {
    background-color: rgb(250, 250, 250);
    color: rgb(244, 139, 238);
    font-family: monospace;
    font-weight: 300;
    font-size: 18px;
    padding: 2px;
}
.container {
    position: relative;
    margin: 0;
    display: block;
}
.blackCode {
    font-family: monospace;
    background-color: rgb(250, 250, 250);
    font-weight: 300;
    font-size: 20px;
    padding: 2px;
}
.hover-box {
    display: none;
    position: absolute;
    top: 0;
    width: 240px;
    background-color: rgb(171, 255, 183);
    padding: 15px;
    padding-left: 20px;
    margin: 0;
    z-index: 999;
    /* Ensure it appears above other content */
    font-size: 18px;
    line-height:110% ;
}
.container:hover .hover-box {
    display: block;
}
#codeInside {
    max-width: 240px;
}
.moreDetail:hover+.hover-box {
    display: block;
}
.parsing-box {
    display: none;
    background-color: rgb(101, 246, 136);
    padding: 10px;
    width: 200px;
    color: black;
}
.parse {
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(101, 246, 136);
}
.parse:hover+.parsing-box {
    display: block;
}
/* code{
    font-family:"HERSHEY-NOAILLES-FUTURA-DUPLEX-REGULAR", sans-serif ;

} */
.box {
    height: 100vh;
    position: flex;
    display: flex;
    flex-direction: row;
}
.textLink {
    background-color: rgb(147, 222, 253);
}

/* .codeBox {
    max-width: 800px;
} */
.leftColumn {
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    flex-shrink: 0;
}
.rightColumn {
    margin-left: 9%;
    margin-right: 15%;
    /* margin-top: 3px; */
    font-size: 30px;
    overflow: auto;
    height: 100%;
    white-space: normal;
    max-width: 900px;
}
.headers {
    font-family: 'Satoshi', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
}
.images {
    margin-left: 10%;
    font-size: 20px;
}
img {
    width: 80%;
    margin: 0;
    padding: 0;
    height: auto;
}
li {
    font-size: 24px;
    margin-bottom: -4px;
}
.page-content li {
    font-size: 28px;
}
#secretBox {
    width: 50px;
    height: 155px;
    color: rgb(239, 239, 239, 255);
}
.hljs {
    display: block !important;
    overflow-x: auto !important;
    padding: .5em !important;
    color: black !important;
    font-family: monospace;
    font-weight: 500;
    background: rgb(250, 250, 250) !important;
}
.hljs-comment,
.hljs-quote {
    color: #5c6370 !important;
    font-style: italic !important;
}
.hljs-doctag,
.hljs-formula,
.hljs-keyword {
    color: rgb(244, 139, 238) !important;
}
.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
    color: #e06c75 !important;
}
.hljs-literal {
    color: rgb(118, 65, 187) !important;
}
.hljs-addition,
.hljs-attribute,
.hljs-meta-string,
.hljs-regexp,
.hljs-string {
    color: rgb(248, 181, 81) !important;
}
.hljs-built_in,
.hljs-class .hljs-title {
    color: #e6c07b !important;
}
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
    color: rgb(120, 215, 189) !important;
}
.hljs-number {
    color: rgb(131, 120, 223)
}
.hljs-attr,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-property,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
    color: black !important;
}
.hljs-emphasis {
    font-style: italic !important;
}
.hljs-strong {
    font-weight: 700 !important;
}
.hljs-link {
    text-decoration: underline !important;
}
.collapsible {
    background-color: rgb(255, 244, 228);
    color: rgb(132, 128, 129);
    font-family: 'Satoshi', sans-serif;
    font-weight: 500;
    cursor: pointer;
    padding: 19px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 23px;
}
.collapsible:hover {
    color: rgb(101, 246, 136);
}
.content {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 20px;
    font-size: 23px;
    display: none;
    overflow: hidden;
    background-color: rgb(255, 244, 228);
    max-height: 500;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.textVariable {
    font-size: 25px;
    background-color: rgb(250, 250, 250);
}
.variableDetails {
    background-color: rgb(250, 250, 250);
    color: rgb(244, 139, 238);
    font-family: monospace;
    font-weight: 300;
    padding: 2px;
    font-size: 20px;
}
.textDetails {
    background-color: rgb(250, 250, 250);
}